.buttonComponent{
    padding: 20px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    /* background: linear-gradient(-135deg,hsl(0, 0%, 89%) 0%,   #1f1707 100%); */
    background-color: white;
}
.buttonComponent span{
    font-size: 18px;
    display: inline-block;
    font-weight: 500 !important;
    letter-spacing: 0.95px;
}

.buttonComponent:hover{
    border-radius: 36px;
	/* background: linear-gradient(-135deg, #982dfb 0%, #f1ae26 100%); */
    background-color: white;

}